@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
body {
    background: #009688;
}

.login-form{
    margin: auto;
    width: 250px;
    position: relative;
    top: 100px;
    background: white;
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
}

.login-form .title{
    text-align: center;
    font-size: 35px;
}

.login-form input{
    width: 230px;
    height: 25px;
    margin: 2px;
    padding: 3px 5px;
    font-size: 14px;
    border: none;
    background-color: #e1e1e1;
    border-radius: 4px;
}

.login-form input:focus{
    border: none;
    background-color: #ecf0f1;
}

.login-form button{
    width: 240px;
    height: 30px;
    margin: 2px;
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #57de72;
    border: none;
}

.login-form button:hover{
    background-color: #009688;
}

.login-form .help-block{
    color: deeppink;
    padding-left: 5px;
}

.login-form .has-error input{
    border: 1px deeppink solid;
    color: deeppink;
}